.App{
  font-family: 'Montserrat', sans-serif;
}

.NavBar{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

}
.myNameHomePage{
  animation: color-change 7s infinite;
  font-size: 80px;
}
/* for wave */
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


/* #home{
  
  background-image: url(https://img.freepik.com/free-vector/flat-geometric-background_23-2148957201.jpg?w=2000);
} */

@keyframes  color-change {
  0% { color: palevioletred; }
  50% { color: blue; }
  100% { color: red; }
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-1 {
  background: 
    linear-gradient(red 0 0) no-repeat
    calc(200% - var(--i, 0) * 100%) 100% / 200% calc(100% * var(--i, 0) + .08em);
  transition: .3s calc(var(--i, 0) * .3s), background-position .3s calc(.3s - calc(var(--i, 0) * .3s));
}
.hover-1:hover {
  --i: 1;
  color: white;
}
.hover-2 {
  background: 
    linear-gradient(#3b5998 0 0) no-repeat
    calc(200% - var(--i, 0) * 100%) 100% / 200% calc(100% * var(--i, 0) + .08em);
  transition: .3s calc(var(--i, 0) * .3s), background-position .3s calc(.3s - calc(var(--i, 0) * .3s));
}
.hover-2:hover {
  --i: 1;
  color: white;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

  .btn-11 {
  border: none;
  background:#ff4c60;
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@keyframes shiny-btn1 {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% {transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% {transform: scale(4) rotate(45deg); opacity: 1; }
    100% {transform: scale(50) rotate(45deg); opacity: 0; }
}
/* skill bar */
.skills {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#f1f1f1;
  border-radius: 10px;
}



.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background:#f1f1f1;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background : linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transform: uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 65%;
}
.progress-line .javascript {
  width: 80%;
}
.progress-line .react {
  width: 80%;
}
.progress-line .java {
  width: 75%;
}
.progress-line .chakra {
  width: 85%;
}

.progress-line .expressjs {
  width: 80%;
}

.progress-line .nodejs {
  width: 75%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "80%";
}
.progress-line .react::after {
  content: "80%";
}
.progress-line .java::after {
  content: "75%";
}
.progress-line .nodejs::after {
  content: "75%";
}

.progress-line .expressjs::after {
  content: "80%";
}

/* ////........Media Query........//// */

@media (max-width: 700px) {
    .skills{
        width: 80%;
    }

    .skills-bar .bar .progress-line{
        width: 100%;
    }
}  

/* projects */
.ProjetcsBox img:hover{
  transition: 0.5s all ease-in-out;
    transform: scale(1.1)
}
/* wiggle */
.button-wiggle {
  animation: wiggle 4s 2s infinite;
}
@keyframes wiggle {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}
/*  */
.custom-shape-divider-bottom-1667552084 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667552084 svg {
  position: relative;
  display: block;
  width: calc(203% + 1.3px);
  height: 189px;
}

.custom-shape-divider-bottom-1667552084 .shape-fill {
  fill: #DD293F;
}
/* scroll bar */
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.ProjetcsBox{
  -webkit-box-shadow: 10px 9px 6px -3px rgba(212,51,209,1);
  -moz-box-shadow: 10px 9px 6px -3px rgba(212,51,209,1);
  box-shadow: 10px 9px 6px -3px rgba(212,51,209,1);
  border-radius: 20px;
}

