.socialIconsCss:hover{
    color: #ffc107;
   border: 4px solid #ffc107; 
   padding: 15px;
   border-radius: 50%;
   box-shadow: 0 0 30px #ffc107;
}

.xsign {
    --interval: 1s;
    color: tomato;
    text-shadow: 
      0 0 10px var(orangered),
      0 0 20px var(firebrick),
      0 0 40px var(maroon),
      0 0 80px var(darkred);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s 
    infinite;
}
@keyframes flicker {
    50% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
    }
  }